.button-slide{
    padding: 1rem 1rem;
    position:absolute;
    color: white;
    background-color: rgb(15%, 47%, 75%);
    text-decoration: solid;
    font-family: sans-serif;
    font-size: 3rem;

    
}

.separador{
    background-color: rgb(15%, 47%, 75%);
    height: 10px !important;
}